<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="user">
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>App</th>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>Total Count</th>
                    <th>Filter Count</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="app : ${apps}">
                    <td th:text="${app.appIdx}"></td>
                    <td th:text="${app.name}"></td>
                    <td th:text="${app.type}"></td>
                    <td th:text="${app.createdat}"></td>
                    <td th:text="${app.isregister ? app.totalcount : '-'}"></td>
                    <td th:text="${app.isregister ? app.filtercount : '-'}"></td>
                    <td th:if="${!(app.isregister or app.isrequestclose)}">
                        <span class="label label-primary">서비스 연결 대기중</span>
                    </td>
                    <td th:if="${app.isrequestclose}">
                        <span class="label label-danger">서비스 취소 대기중</span>
                    </td>
                    <td th:if="${app.isregister and !app.isrequestclose}">
                        <a th:href="@{|detail/${app.appIdx}|}" ><button class="btn btn-info">자세히 보기</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
</div>

<div th:fragment="close">
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>App</th>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>Total Count</th>
                    <th>Filter Count</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="app : ${apps}">
                    <td th:text="${app.appIdx}"></td>
                    <td th:text="${app.name}"></td>
                    <td th:text="${app.type}"></td>
                    <td th:text="${app.createdat}"></td>
                    <td th:text="${app.isregister ? app.totalcount : '-'}"></td>
                    <td th:text="${app.isregister ? app.filtercount : '-'}"></td>
                    <td th:if="${app.isregister and !app.isrequestclose}">
                        <button class="btn btn-danger" th:onclick="|updateapp('${app.appIdx}')|">서비스 취소</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
</div>


<div th:fragment="detail">
    <div class="row">

        <div class="col-xs-6 col-sm-3 placeholder">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">최다 비속어 사용자</span>
                    <span class="info-box-number" th:text="${slangUser!=null ? slangUser.id : 'no' }"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">최다 부적절한 사진 업로더</span>
                    <span class="info-box-number" th:text="${pictureUser!=null ? pictureUser.id : 'no'}"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">비속어 사용 전체 회수</span>
                    <span class="info-box-number" th:text="${logs.size()}"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">부적절한 사진 업로드 회수</span>
                    <span class="info-box-number" th:text="${app.filtercount-logs.size()}"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

    </div>

    <h2 class="sub-header">LOG</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>content</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="log : ${logs}">
                <td th:text="${log.chatIdx}"></td>
                <td th:text="${log.content}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>


<!-- list -->
<div th:fragment="list">

    <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
            <div th:if="${apps!=null}">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Company</th>
                    <th>App</th>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="app : ${apps}">
                    <td th:text="${app.appIdx}"></td>
                    <td th:text="${app.company.name}"></td>
                    <td th:text="${app.name}"></td>
                    <td th:text="${app.type}"></td>
                    <td th:text="${app.createdat}"></td>
                    <td th:if="${!app.isregister}">
                        <button class="btn btn-primary" th:onclick="|updateapp('${app.appIdx}','true')|">서비스 연결</button>
                    </td>
                    <td th:if="${app.isregister}">
                        <button class="btn btn-danger" th:onclick="|updateapp('${app.appIdx}','false')|">서비스 연결해지</button>
                    </td>
                </tr>
                </tbody>
            </div>

            <div th:if="${reports!=null}">
                <thead>
                <tr>
                    <th>#</th>
                    <th>content</th>
                    <th>type</th>
                    <th>user</th>
                </tr>
                </thead>
                <tr th:each="report : ${reports}">
                    <td th:text="${report.reportIdx}"></td>
                    <td th:text="${report.content}"></td>
                    <td th:text="${report.type}"></td>
                    <td th:text="${report.user.id}"></td>
                </tr>
            </div>

            <div th:if="${slangs!=null}">
                <thead>
                <tr>
                    <th>#</th>
                    <th>word</th>
                    <th>count</th>
                </tr>
                </thead>
                <tr th:each="slang : ${slangs}">
                    <td th:text="${slang.slangIdx}"></td>
                    <td th:text="${slang.word}"></td>
                    <td th:text="${slang.count}"></td>
                </tr>
            </div>
            <div th:if="${badpics!=null}">
                <thead>
                <tr>
                    <th>#</th>
                    <th>url</th>
                </tr>
                </thead>
                <tr th:each="badpic : ${badpics}">
                    <td th:text="${badpic.picIdx}"></td>
                    <td th:text="${badpic.url}"></td>
                </tr>
            </div>

            <div th:if="${logs!=null}">
                <thead>
                <tr>
                    <th>#</th>
                    <th>content</th>
                    <th>app</th>
                    <th>user</th>
                </tr>
                </thead>
                <tr th:each="log : ${logs}">
                    <td th:text="${log.chatIdx}"></td>
                    <td th:text="${log.content}"></td>
                    <td th:text="${log.app.name}"></td>
                    <td th:text="${log.user.id}"></td>
                </tr>
            </div>
        </table>
    </div>
</div>
<!-- list end -->

<div th:fragment="register">
    <div >
        <div class="register-logo">
            <a href=""><b>Regi</b>ster</a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Register a new app</p>

            <form  id="registerForm" action="" method="post">
                <input type="hidden" id="companyIdx" name="company.companyidx"  th:value="${company.companyIdx}"/>
                <div class="form-group has-feedback">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Name"/>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" id="type" name="type" class="form-control" placeholder="Type"/>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="예상 유저수"/>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-primary btn-block btn-flat"
                                th:onclick="|register()|" >Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a href="login.html" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

</div>

<div th:fragment="companyRegister">
    <div >
        <div class="register-logo">
            <a href=""><b>Regi</b>ster</a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Register a new app</p>

            <form  id="registerForm" action="" method="post">
                <div class="form-group has-feedback">
                    <input type="text" id="name" name="name" class="form-control" placeholder="Name"/>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" id="type" name="type" class="form-control" placeholder="Type"/>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="예상 유저수"/>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-primary btn-block btn-flat"
                                th:onclick="|register()|" >Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a href="login.html" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

</div>


</body>
</html>